.label {
    @include border-radius(0);
}

.label-primary {
    background-color: #1f91f3;
}

.label-success {
    background-color: #2b982b;
}

.label-info {
    background-color: #242c3c;
}

.label-warning {
    background-color: #ff9600;
}

.label-danger {
    background-color: #fb483a;
}
